:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.inp {
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #333a48;
  color: #fff;
}

.font-bold {
  font-weight: bold;
}

h1 {
  font-size: 2.2em;
  line-height: 1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333a48;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header-sub {
  margin: 20px 0;
}

.md-0 {
  margin: 0;
}

.mt-20 {
  margin-top: 20px;
}

#app-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  gap: 30px;
}

#app-content {
  display: grid;
  text-align: center;
  margin: 0 auto;
}

.btn-header {
  margin: auto 0;
}

.card-content {
  display: block;
  width: 60vw;
  margin: 20px auto;
  text-align: left;
  background-color: #000;
  border: 1px solid #7e6363;
  padding: 5px 25px;
  border-radius: 20px;
}

.card-content h2 {
  margin: 10px 0 0 0;
  padding: 0;
}

.card-content p {
  margin: 0 0 20px 0;
  padding: 5px 0;
  font-size: 12px;
  color: #a87c7c;
}

.card-content h4 {
  margin: 0;
  padding: 8px 0;
  color: #6466f1;
  font-size: 85%;
}

.card-content a {
  display: inline-flex;
  border: 1px solid #7e6363;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 15px;
  padding: 5px 10px;
  color: #fff;
  font-size: 80%;
  transition: border-color 0.25s;
}

.card-content a:hover {
  border-color: #fff;
}

/* MODAL */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.modal {
  background-color: #242424;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  width: 500px;
  max-width: 100%;
  padding: 25px;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.hidden {
  display: none;
}

.task-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.red-btn {
  background-color: #872341;
  margin-left: 10px;
}

::placeholder {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  opacity: 0.7;
  font-size: 15px;
}
#submitBtn {
  margin: 20px 0;
}

.btn-wrapper {
  margin: 20px 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff8f3;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #535bf2;
    color: #fff;
  }

  button:hover {
    border-color: #fff;
  }

  .card-content {
    background-color: #fff;
  }

  .card-content a {
    border-color: #b9b4c7;
    color: #000;
  }

  .card-content p {
    color: rgba(0, 0, 0, 0.5);
  }

  .card-content a:hover {
    border-color: #747bff;
  }

  .modal {
    background-color: rgba(255, 255, 255, 0.87);
  }

  .inp {
    background-color: #fff;
    color: #000;
  }

  .red-btn {
    background-color: red;
  }
}

@media (min-width: 600px) {
  #app-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
